# OOPS -Object Oriented Programming

In [1]:
a={'name' : ['lotus','sunflower'], 'colour':['pink','orange'] ,'season': ['All','summer']}

In [2]:
a

{'name': ['lotus', 'sunflower'],
 'colour': ['pink', 'orange'],
 'season': ['All', 'summer']}

In [8]:
a.values()

dict_values([['lotus', 'sunflower'], ['pink', 'orange'], ['All', 'summer']])

In [9]:
#create class name
class girl:
    #create class attributes
    gender='Female'

    def __init__(self,name,age,height):
        self.name=name
        self.age=age
        self.height=height

In [12]:
swap='Swapnali'       
age=24
height=5.5

In [13]:
x=girl(swap,age,height)

In [17]:
y=girl('Sonali',22,5.5)

In [18]:
y.name

'Sonali'

In [23]:
x.name, x.age, y.name, y.age, y.height

('Swapnali', 24, 'Sonali', 22, 5.5)

In [25]:
import numpy as np

In [33]:
a=np.random.randint(0,10,size=(3,3))
b=np.random.randint(5,10,size=(3,3))

In [41]:
a

array([[8, 5, 5],
       [5, 3, 1],
       [8, 2, 3]])

In [42]:
b

array([[7, 7, 6],
       [8, 6, 5],
       [8, 9, 6]])

In [44]:
np.dot(a,b)

array([[136, 131, 103],
       [ 67,  62,  51],
       [ 96,  95,  76]])

In [54]:
class flower:
    def __init__(self,name,color,season):
        self.name=name
        self.color=color
        self.season=season
        return self.name

SyntaxError: 'return' outside function (<ipython-input-54-43ee18dc472d>, line 6)

In [50]:
x=flower('abc','xyx','xyz')

In [53]:
x